body	{
	background-color: #bbbbbb;
}

p {
	color: #000000;
	width: 800px;
	font-size: 20px;
	margin-left: 10px;
	margin-right: 10px;
}

h2 {
	color: #000000;
	width: 800px;
	font-size: 28px;
	margin-left: 20px;
	margin-right: 10px;
}


/* lenker */
a:link  {
	color: #880000;
}

a:visited {
	color: #770000;
}

a:hover  {
	color: #ffffff;
}

a:active  {
	color: #eeeeee;
}

